# **Web Scraping**

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import glob
from datetime import datetime
import os

In [2]:
#Write your code here
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
response = requests.get(url)
data = response.content

In [3]:
data[101:124]

b'List of largest banks -'

In [4]:
#Replace the dots below
soup = BeautifulSoup(data, 'html5lib')
tables = soup.find_all('table')
table = tables[3]

In [5]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

In [6]:
for row in table.tbody.find_all("tr"):
# for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    #Write your code here
    if (col != []):
        name = col[1].text
        marketcap = col[2].text
        data = data.append({"Name":name, "Market Cap (US$ Billion)":marketcap}, ignore_index=True)

In [7]:
data.head()

                                         Name Market Cap (US$ Billion)
0                            JPMorgan Chase\n                487.220\n
1   Industrial and Commercial Bank of China\n                345.214\n
2                           Bank of America\n                325.331\n
3                               Wells Fargo\n                308.013\n
4                   China Construction Bank\n                257.399\n

# **Extracting Data using API**

In [8]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=d33174c661af19300acd4bb82cdff25d"

In [9]:
# Turn the data into a dataframe
rate_data = pd.DataFrame(columns=["rates"])
r=requests.get(url)
data = r.json()
data = data['rates']
keys = []
for key in data:
    rate_data = rate_data.append({"rates":data[key]}, ignore_index=True)
    keys.append(key)

In [10]:
data

{'AED': 4.345104,
 'AFN': 100.191354,
 'ALL': 121.779587,
 'AMD': 583.381057,
 'ANG': 2.123829,
 'AOA': 742.331415,
 'ARS': 115.990843,
 'AUD': 1.605528,
 'AWG': 2.129849,
 'AZN': 2.004474,
 'BAM': 1.955873,
 'BBD': 2.388972,
 'BDT': 100.809162,
 'BGN': 1.957415,
 'BHD': 0.445889,
 'BIF': 2349.23189,
 'BMD': 1.182921,
 'BND': 1.590021,
 'BOB': 8.17001,
 'BRL': 6.281432,
 'BSD': 1.183226,
 'BTC': 2.5318407e-05,
 'BTN': 87.013676,
 'BWP': 12.931384,
 'BYN': 2.98019,
 'BYR': 23185.251341,
 'BZD': 2.385052,
 'CAD': 1.496791,
 'CDF': 2362.293106,
 'CHF': 1.084626,
 'CLF': 0.034033,
 'CLP': 939.061449,
 'CNY': 7.636229,
 'COP': 4532.539199,
 'CRC': 738.636227,
 'CUC': 1.182921,
 'CUP': 31.347406,
 'CVE': 110.264626,
 'CZK': 25.437293,
 'DJF': 210.228449,
 'DKK': 7.435956,
 'DOP': 67.241909,
 'DZD': 161.052971,
 'EGP': 18.587937,
 'ERN': 17.749508,
 'ETB': 54.599876,
 'EUR': 1,
 'FJD': 2.453793,
 'FKP': 0.854782,
 'GBP': 0.854903,
 'GEL': 3.690661,
 'GGP': 0.854782,
 'GHS': 7.063576,
 'GIP': 0.854782,
 'GMD': 60.541822,
 'GNF': 11575.06073,
 'GTQ': 9.159824,
 'GYD': 247.323342,
 'HKD': 9.19999,
 'HNL': 28.456385,
 'HRK': 7.482802,
 'HTG': 117.874593,
 'HUF': 350.640284,
 'IDR': 16865.673407,
 'ILS': 3.791522,
 'IMP': 0.854782,
 'INR': 86.982841,
 'IQD': 1727.483346,
 'IRR': 49907.436754,
 'ISK': 150.798925,
 'JEP': 0.854782,
 'JMD': 178.048406,
 'JOD': 0.838757,
 'JPY': 129.737445,
 'KES': 130.038811,
 'KGS': 100.33411,
 'KHR': 4826.265225,
 'KMF': 495.644195,
 'KPW': 1064.629087,
 'KRW': 1383.69814,
 'KWD': 0.355705,
 'KYD': 0.986013,
 'KZT': 504.576819,
 'LAK': 11339.853254,
 'LBP': 1789.024178,
 'LKR': 236.345394,
 'LRD': 203.284847,
 'LSL': 17.649493,
 'LTL': 3.492858,
 'LVL': 0.715537,
 'LYD': 5.345182,
 'MAD': 10.577964,
 'MDL': 20.70573,
 'MGA': 4641.083489,
 'MKD': 61.646059,
 'MMK': 1947.557121,
 'MNT': 3372.390793,
 'MOP': 9.478028,
 'MRO': 422.302589,
 'MUR': 50.157533,
 'MVR': 18.276004,
 'MWK': 961.358865,
 'MXN': 23.59246,
 'MYR': 4.906792,
 'MZN': 75.440793,
 'NAD': 17.649062,
 'NGN': 486.658296,
 'NIO': 41.548913,
 'NOK': 10.263412,
 'NPR': 139.221882,
 'NZD': 1.66379,
 'OMR': 0.455447,
 'PAB': 1.183226,
 'PEN': 4.847666,
 'PGK': 4.153947,
 'PHP': 59.094595,
 'PKR': 198.778586,
 'PLN': 4.544077,
 'PYG': 8181.310568,
 'QAR': 4.307013,
 'RON': 4.944134,
 'RSD': 117.579601,
 'RUB': 86.339274,
 'RWF': 1194.826248,
 'SAR': 4.436847,
 'SBD': 9.532054,
 'SCR': 15.317193,
 'SDG': 524.624017,
 'SEK': 10.180017,
 'SGD': 1.58848,
 'SHP': 1.629352,
 'SLL': 12213.658972,
 'SOS': 692.009314,
 'SRD': 25.289674,
 'STD': 24484.076119,
 'SVC': 10.353227,
 'SYP': 1487.610644,
 'SZL': 16.739568,
 'THB': 38.710329,
 'TJS': 13.411455,
 'TMT': 4.152053,
 'TND': 3.299754,
 'TOP': 2.657432,
 'TRY': 9.982559,
 'TTD': 8.038909,
 'TWD': 32.734027,
 'TZS': 2743.193708,
 'UAH': 31.605893,
 'UGX': 4176.721138,
 'USD': 1.182921,
 'UYU': 50.410681,
 'UZS': 12639.807118,
 'VEF': 252944257614.2528,
 'VND': 26930.379185,
 'VUV': 131.170472,
 'WST': 3.029181,
 'XAF': 655.885467,
 'XAG': 0.049203,
 'XAU': 0.000659,
 'XCD': 3.196903,
 'XDR': 0.831209,
 'XOF': 655.96032,
 'XPF': 120.516143,
 'YER': 296.73574,
 'ZAR': 16.815341,
 'ZMK': 10647.706577,
 'ZMW': 19.155897,
 'ZWL': 380.900075}

# **ETL**

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [11]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-09-09 19:28:09--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-09-09 19:28:09 (302 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2021-09-09 19:28:09--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-09-09 19:28:09 (189 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2021-09-09 19:28:09--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2021-09-09 19:28:09 (171 MB/s) - ‘exchange_rates.csv’ saved [590/590]

# **Extract**

**JSON Extract Function**  
This function will extract JSON files.

In [12]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe


**Extract Function**

Define the extract function that finds JSON file bank_market_cap_1.json and calls the function created above to extract data from them. Store the data in a pandas dataframe. Use the following list for the columns.

In [13]:
columns=['Name','Market Cap (US$ Billion)']

In [14]:
def extract():
    # Write your code here
    files = glob.glob("*.json")
    file = files[0]
    df = extract_from_json(file)
    return df

In [15]:
# Write your code here
def extract_csv():
    df = pd.read_csv('exchange_rates.csv', index_col=0)
    exchange_rate = df.loc['GBP'].values
    
    return exchange_rate[0]


# **Transform**

Using exchange_rate and the exchange_rates.csv file find the exchange rate of USD to GBP. Write a transform function that  
1.   Changes the Market Cap (US\$ Billion) column from USD to GBP  
2.   Rounds the Market Cap (US\$ Billion) column to 3 decimal places  
3.   Rename Market Cap (US\$ Billion) to Market Cap (GBP$ Billion)

In [16]:
def transform(df):
    exchange_rate = extract_csv()
    df.columns = ['Name', 'Market Cap (GBP$ Billion)']
    df['Market Cap (GBP$ Billion)'] = round(df['Market Cap (GBP$ Billion)'] * exchange_rate, 3)
    return df

# **Load**
Create a function that takes a dataframe and load it to a csv named bank_market_cap_gbp.csv. Make sure to set index to False.

In [17]:
def load(df):
    df.to_csv('bank_market_cap_gbp.csv', index=False)

# **Logging Function**
Write the logging function log to log your data:

In [18]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

# **Running the ETL Process**
Log the process accordingly using the following "ETL Job Started" and "Extract phase Started"

In [19]:
log("ETL Job Started")

**Extract**  
Question 2 Use the function extract, and print the first 5 rows, take a screen shot:

In [20]:
# Call the function here
log("Extract phase Started")
extracted_data = extract()

# Print the rows here
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as "Extract phase Ended"

In [21]:
log("Extract phase Ended")

**Transform**  
Log the following "Transform phase Started"

In [22]:
log("Transform phase Started")

Question 3 Use the function transform and print the first 5 rows of the output, take a screen shot:

In [23]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data "Transform phase Ended"

In [24]:
log("Transform phase Ended")

# **Load**  
Log the following "Load phase Started".

In [25]:
log("Load phase Started")

Call the load function

In [26]:
load(transformed_data)

Log the following "Load phase Ended".

In [27]:
log("Load phase Ended")